{{!==============================================================================}}
{{! FILE : footer.handlebars (./views/partials/footer.handlebars)                }}
{{! DESC : This file contains the markup for the footer to be used across the    }}
{{!        app.                                                                  }}
{{!==============================================================================}}

{{!==============================footer.handlebars===============================}}
<div class="d-flex justify-content-between footer" style="height:16rem;">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
</div>
{{!==============================footer.handlebars===============================}}