{{!==============================================================================}}
{{! FILE : footer.handlebars (./views/partials/footer.handlebars)                }}
{{! DESC : This file contains the markup for the footer to be used across the    }}
{{!        app.                                                                  }}
{{!==============================================================================}}

{{!==============================footer.handlebars===============================}}
<div class="mt-4 p-4 d-flex justify-content-center footer" style="height:16rem; gap:1rem;">
    <div style="width:18rem;">
        <a class="logo-text" href="/">Digital Cookbook</a>
        <p class="text-secondary">Made by Kegan Ferdinand</p>
    </div>
    <div style="width:18rem;">
        <h5>Site Links</h5>
        <ul style="list-style:none; margin:0; padding:0;">
            <li><a class="text-secondary" href="/">Home</a></li>
            <li><a class="text-secondary" href="/search">Search</a></li>
            <li><a class="text-secondary" href="/collections">Collections</a></li>
            <li><a class="text-secondary" href="/about">About</a></li>
            <li><a class="text-secondary" href="/login">Login</a></li>
            <li><a class="text-secondary" href="/register">Register</a></li>
        </ul>
    </div>
    <div style="width:18rem;">
        <h5>References and Resources</h5>
        <ul style="list-style:none; margin:0; padding:0;">
            <li><a class="text-secondary" href="https://developer.edamam.com/edamam-recipe-api">Edamam Recipe Search API</a></li>
            <li><a class="text-secondary" href="https://www.loginradius.com/blog/engineering/guest-post/nodejs-authentication-guide/">Node.js User Authentication Guide</a></li>
            <li><a class="text-secondary" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Bootstrap</a></li>
        </ul>
    </div>
</div>
{{!==============================footer.handlebars===============================}}