{{!==============================================================================}}
{{! FILE : nav.handlebars (./views/partials/nav.handlebars)                      }}
{{! DESC : This file contains the markup for the app's navbar.                   }}
{{!==============================================================================}}

{{!===============================nav.handlebars=================================}}
<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" href="/">Digital Cookbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="column-gap:0.5rem;">
      <li class="nav-item {{#if active.home}}active{{/if}}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {{#if active.search}}active{{/if}}">
        <a class="nav-link" href="/search">Search</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
    {{#if currentUser}}
      <li class="nav-item {{#if active.account}}active{{/if}}">
        <a class="nav-link" href="/account?id={{currentUser.id}}">{{currentUser.name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    {{else}}
      <li class="nav-item {{#if active.login}}active{{/if}}">
        <a class="nav-link" href="/login">Login</a>
      </li>
    {{/if}}
  </ul>
</nav>
{{!===============================nav.handlebars=================================}}