{{!==============================================================================}}
{{! FILE : account.handlebars (./views/account.handlebars)                       }}
{{! DESC : This file contains markup for the user account page.                  }}
{{!==============================================================================}}

{{!=============================account.handlebars===============================}}
<div class="container-fluid d-flex justify-content-center align-items-center gradient-background" style="height:16rem; overflow:hidden;">
    <h1>Your Account</h1>
</div>
<div class="container mt-3 d-flex justify-content-center" style="gap:1rem;">
    {{!-- Homepage Preferences Card --}}
    <div class="card p-2" style="width:30rem;">
        <form>
            <h5 class="card-title">Homepage Preferences</h5>
            
            <div class="error"></div>

            <div class="input-group" style="gap:0.5rem;">
                <input type="checkbox" name="balanced" value="balanced" {{#if (includes "balanced" homePrefs)}}checked="true"{{/if}}>
                <label for="balanced">Balanced</label>
            </div>

            <div class="input-group" style="gap:0.5rem;">
                <input type="checkbox" name="high-fiber" value="high-fiber" {{#if (includes "high-fiber" homePrefs)}}checked="true"{{/if}}>
                <label for="high-fiber">High Fiber</label>
            </div>

            <div class="input-group" style="gap:0.5rem;">
                <input type="checkbox" name="high-protein" value="high-protein" {{#if (includes "high-protein" homePrefs)}}checked="true"{{/if}}>
                <label for="high-protein">High Protein</label>
            </div>

            <div class="input-group" style="gap:0.5rem;">
                <input type="checkbox" name="low-carb" value="low-carb" {{#if (includes "low-carb" homePrefs)}}checked="true"{{/if}}>
                <label for="low-carb">Low Carb</label>
            </div>

            <div class="input-group" style="gap:0.5rem;">
                <input type="checkbox" name="low-fat" value="low-fat" {{#if (includes "low-fat" homePrefs)}}checked="true"{{/if}}>
                <label for="low-fat">Low Fat</label>
            </div>

            <div class="input-group" style="gap:0.5rem;">
                <input type="checkbox" name="low-sodium" value="low-sodium" {{#if (includes "low-sodium" homePrefs)}}checked="true"{{/if}}>
                <label for="low-sodium">Low Sodium</label>
            </div>

            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
</div>
<script src="./js/update.js"></script>
{{!=============================account.handlebars===============================}}