{{!-----------------------------account.handlebars-------------------------------}}
{{> nav this }}

<div class="d-flex">
    <div class="card" style="width:26rem;">
        <h5 class="card-title">Homepage Preferences</h5>
    </div>
</div>
{{!------------------------------------------------------------------------------}}