{{!==============================================================================}}
{{! FILE : apitest.handlebars (./views/apitest.handlebars)                       }}
{{! DESC : This file contains the markup for the API test page.                  }}
{{!==============================================================================}}

{{!=============================apitest.handlebars===============================}}
<p>RESPONSE CODE: {{response}}</p>
{{!=============================apitest.handlebars===============================}}