{{> nav this}}

{{#if user}}
{{else}}
    <p>You must be logged in to access your collections.</p>
    <p><a href="/register">Register an account</a> or <a href="/login">Login with an existing account</a> to start saving your favourite recipes!</p>
{{/if}}

{{> footer}}