{{!==============================================================================}}
{{! FILE : dbtest.handlebars (./views/dbtest.handlebars)                         }}
{{! DESC : This file contains the markup for the DB test page.                   }}
{{!==============================================================================}}

{{!==============================dbtest.handlebars===============================}}
<p>Check console output for MongoDB connection status.</p>
{{!==============================dbtest.handlebars===============================}}