{{!==============================================================================}}
{{! FILE : main.handlebars (./views/main.handlebars)                             }}
{{! DESC : This file contains the markup for the main homepage.                  }}
{{!==============================================================================}}

{{!===============================main.handlebars================================}}
{{> search_area }}

<div class="container mt-4 mb-4">
    <hr>
    <h2 class="text-center text-uppercase font-weight-light">Recommended for you</h2>
    <hr>

    {{#each sections}}
        <h3 class="text-capitalize mt-4">{{this.title}}</h3>
        
        <div class="d-flex" style="overflow-x:scroll; column-gap:1rem;">
            {{#each this.recipes}}
                {{> recipe_card recipe}}
            {{/each}}
        </div>
    {{/each}}

    <div class="mt-4">
        <span>Want more recommendations? Try updating your homepage preferences in your account settings!</span>
    </div>
</div>
{{!===============================main.handlebars================================}}