{{!==============================================================================}}
{{! FILE : main.handlebars (./views/main.handlebars)                             }}
{{! DESC : This file contains the markup for the main homepage.                  }}
{{!==============================================================================}}

{{!===============================main.handlebars================================}}
{{> nav this }}
{{> search_area }}

<div class="container mt-3 mb-3">
    <h2>Recommended for you</h2>

    {{#each sections}}
        <h3>{{this.title}}</h3>
        
        <div class="d-flex" style="overflow-x:scroll; column-gap:1rem;">
            {{#each this.recipes}}
                {{> recipe_card recipe}}
            {{/each}}
        </div>

    {{/each}}

    <div class="mt-3">
        <span>Want more recommendations? Try updating your homepage preferences in your account settings!</span>
    </div>
</div>

{{> footer}}
{{!===============================main.handlebars================================}}