{{!==============================================================================}}
{{! FILE : search.handlebars (./views/search.handlebars)                         }}
{{! DESC : This file contains the markup for the recipe search page.             }}
{{!==============================================================================}}

{{!=============================search.handlebars================================}}
{{> search_area }}
<div class="container mt-3 mb-3">
    {{#if results}}
        <h4>Showing results for "{{search}}":</h4>
        <div class="mt-3 d-flex flex-wrap justify-content-center" style="gap:1rem;">
        {{#each results}}
            {{> recipe_card recipe}}
        {{/each}}
        </div>
    {{else}}
        <h4>Try using the search bar above to look for recipes!</h4>
    {{/if}}
</div>
{{!=============================search.handlebars================================}}