/*===============================================================================*/
/* FILE : style.css (./public/styles/style.css)                                  */
/* DESC : This file contains custom and overridden Bootstrap CSS classes.        */
/*===============================================================================*/

/*===================================style.css===================================*/
/* Styling for the application's "logo" */
.logo-text {
    color:hsl(0, 0%, 0%);
    text-decoration: none;
    font-size: 1.25rem;
}

/* Override Bootstrap badge-primary class */
.badge-primary {
    background-color: hsl(46, 100%, 50%);
}

/* Override Bootstrap badge-primary class */
.badge-danger {
    background-color: hsl(0, 80%, 60%);
}

/* Override Bootstrap btn-primary class */
.btn-primary {
    background-color: hsl(46, 100%, 50%);
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Override Bootstrap nav-link class */
.nav-link {
    text-transform: uppercase;
    font-weight: bold; 
}

/* Custom active class applied to Bootstrap nav-items */
.nav-item.active {
    background: hsl(46, 100%, 50%);
    border-radius: 2rem;
}
.nav-item.active > .nav-link {
    color: hsl(0, 0%, 100%);
}

/* Blurred background image for the search area */
.search-background {
    /* Darkens the image slightly */
    background-color: hsla(0, 0%, 0%, 0.4);
    overflow: hidden;
    position:relative;
}
.search-background:before {
    content: "";
    position: absolute;
    /* -10px accomodates for the white edges that result from the blur() value */
    left: -10px;
    width: 110%;
    height: 100%;
    /* Sets the actual background image */
    background-image: url("/images/search-background-2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    /* Applies blur to the image */
    filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    -o-filter: blur(4px);
}

/* Container that surrounds the search bar and search button */
.search-bar-container {
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 68%);
    border-radius: 2rem;
}

/* The main search bar within the container */
.main-search {
    background: none;
    width: 675px;
    border: none;
    margin-left: 0.5rem;
}
.main-search:focus-within {
    outline: none;
}

/* Additional styling for Bootstrap form-control class */
.form-control {
    border-radius: 2rem;
}

/* Custom styling for select elements (search area partial) */
select {
    /* Clears the default appearance of the select element */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    /* Uses an SVG to create a custom red dropdown arrow */
    background-image: url("data:image/svg+xml;utf8,<svg fill='red' height='26' viewBox='0 0 26 26' width='26' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h26v26H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 4px;
    border: 1px solid hsl(0, 0%, 68%);
    border-radius: 2rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

/* Gradient background for places like the login and register forms */
.gradient-background {
    /* background: linear-gradient(45deg, #f1b76c, #e7c53c, #51d844, #46d256);
	background-size: 200% 200%; */
    overflow: hidden;
    position: relative;
	height: 100vh;
}
.gradient-background:before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(45deg, #f1b76c, #e7c53c, #51d844, #34cc50);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 80%;
}

/* Styling for links that surround cards */
.card-link {
    text-decoration: none;
}

/* Override Bootstrap card-title class to cut-off long text */
.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

/* Footer styling */
.footer {
    background: hsl(0, 0%, 90%);;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 70%);
}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 50%);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 60%);
}
/*===================================style.css===================================*/
